/* For "Neel Munot" to be aligned to the left */
.navbar-brand-left {
  margin-right: auto; /* Forces it to the left */
}

/* For other links to align on the right */
.navbar-nav {
  margin-left: auto; /* Forces the other links to the right */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  margin-left: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #00b8ff; /* Add hover color effect */
}

/* To make sure it's responsive */
@media (max-width: 768px) {
  .navbar-brand-left {
    margin-right: 0;
  }
  .navbar-nav {
    margin-left: 0;
  }
}
