@import './styles/variables.css';

body {
  font-family: 'Arial', sans-serif;
  background: var(--bg-light);
  margin: 0;
  padding: 0;
  color: var(--text-dark);
}

h2 {
  color: var(--text-dark);
  margin-bottom: 1.5em;
  text-align: center;
}
